#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }

.stay-bot{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.stay-bot-2{
    position: fixed;
    bottom: 22%;
    width: 100%;
}

.back-color{
    background-color: dodgerblue;
}

.wide{
    width: 94% !important;
}

.wider{
    width: 93% !important;
}

.form-control {
    width: 97% !important;
}

.form-inline {
    width: 100% !important;
}

body{
    background-color: #6c6c6c;
}

.buffer-bot{
    margin-bottom: 17%;
}