<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style-chat.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row buffer-bot">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <ul id="messages"></ul>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row stay-bot-2">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <a href="/" class="btn btn-primary btn-lg btn-block">Logout</a>
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row stay-bot">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body"><form action="" class="form-inline">

                        <div class="form-group input-group-lg wide">
                            <label for="m"><h3><%= nickname %>: </h3></label>
                            <input id="m" autocomplete="off" class="form-control wider" placeholder="What do you want to say?"/>
                        </div>
                        <button class="btn btn-primary btn-lg">Send</button>
                    </form></div>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        let socket = io();
        $('form').submit(function(){
            var user = {
                pic : '<%= profile_pic_url %>',
                nick : '<%= nickname %>',
                msg : $('#m').val()
            };
            if ($('#m').val() != ''){
                socket.emit('chat message', user);
                $('#m').val('');
            }
            return false;
        });
        socket.on('chat message', function(user){
            //let inside = '<b><%= nickname %>: </b> ' + user.msg;
            let realInside = '<div class="media">' +
                '<div class="media-left">' +
                    '<img src="/uploads/' + user.pic + '" class="media-object" style="width:60px">' +
                '</div>'+
                '<div class="media-body">'+
                    '<h4 class="media-heading">'+ user.nick +'</h4>'+
                    '<p>' +user.msg + '</p>'+
                '</div>'+
            '</div>';
            $('#messages').append($('<li></li>').append(realInside));
            $(document).scrollTop($(document).height());
        });
    });
</script>
</body>
</html>